/* app.css */
html {
  scroll-behavior: smooth;
}

/* Light Theme (default) */
:root {
  --bg-color: #f9f9f9;
  --text-color: #121212;
  --link-color: #0077ff;
}

/* Dark Theme */
.dark {
  --bg-color: #0d0d0d;
  --text-color: #ffffff;
  --link-color: #61dafb;
}

body, html {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.section-wrapper {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: var(--link-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
